body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    overflow: hidden;
}

.wrap {
    position: relative;
    height: 100%;
    background-color: white;
    margin:-10px;
    padding: 10px;
}


#menu {
    background: #990000;
}

.menu-link {
    float: right;
    box-sizing: border-box;
    margin: 5px;
    display: inline-block;
    padding: 10px 15px;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
    color: #000;
    background-color: white;
    border-color: #000;
    /*border: 2px solid;*/
    border-radius: 4px;
    text-decoration: none;
    outline: 0;
}


[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

[type="radio"] + div {
    user-select: none;
        -webkit-user-select: none; /* Webkit */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* IE 10  */
        -o-user-select: none;
    display: inline-block;
    padding: 20px;
    margin: 1px;
    width: 300px;
    background: #990000;
    border-radius: 7px;
    color: white;
}

span.roomdesc {
    display: inline-block;
    width: 90%;
    float: left;
}

span.online {
    display: inline-block;
    width: 10%;
    float: right;
    text-align: center;
}

.form-container {
    position: absolute;
    border: 5px solid #ababab;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    padding: 25px;
    width: 350px;
    height: 310px;
    margin-top: -185px;
    margin-left: -205px;
    /*text-align: center;*/
}

#room-container {
    height: 260px;
    overflow-y: scroll;
    overflow-x: hidden;
}

form#send {
    background: #000;
    float: left;
    margin: 0;
    width: 100%;
}

form#send input {
    border: 0;
    margin: 3px;
    padding: 10px;
    width: calc(100% - 49px);
}

form#send button {
    width: 40px;
    color: white;
    background: #990000;
    border: none;
    height: 34px;
    margin-right: 3px;
}

#messages {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    height: calc(100% - 90px);
    width: 100%;
    overflow-y: scroll;
}

#messages li {
    padding: 5px 10px;
    word-wrap: break-word;
}

#messages li.alert {
    color: red
}

h1 {
    margin: 5px;
}

h1.chattitle {
    padding-left: 10px;
    color: white;
    display: inline-block;
    position: relative;
    margin: 5px;
    width: calc(100% - 75px);
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#greeting {
    float: left;
}

.header {
    background: #990000;
    float: left;
    /*position: absolute;*/
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
}

.logout {
    float: right;
    display: inline-block;
    background: #D2D2D2;
    width: 130px;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    border-radius: 13px;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    outline: 0;
    color: white;
}

.onlinelist {
    position: absolute;
    bottom: 0px;
    height: 40%;
    width: 100%;
    margin-bottom: -16px;
    overflow-y: scroll;
    overflow-x: hidden;
}
