body {
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

[type="radio"] + span {
    user-select: none;
        -webkit-user-select: none; /* Webkit */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* IE 10  */
        -o-user-select: none;
    display: inline-block;
    padding: 20px;
    margin: 1px;
    width: 290px;
    background: #A0CFC0;
    border-radius: 7px;
    transition: 0.5s ease all;
}

.form-container {
    position: absolute;
    border: 5px solid #ababab;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    padding: 25px;
    width: 350px;
    height: 310px;
    margin-top: -185px;
    margin-left: -205px;
    text-align: center;
}

#room-container {
    height: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
}

form#send {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px);
}

form#send input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form#send button {
    width: 9.5%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 9px;
}

#messages {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 55px;
    top: 60px;
    width: calc(100% - 20px);
    overflow-y: scroll;
}

#messages li {
    padding: 5px 10px;
    word-wrap: break-word;
}

#messages li.alert {
    color: red
}

h1 {
    display: inline;
}

#greeting {
    float: left;
}

.logout {
    float: right;
    display: inline-block;
    background: #D2D2D2;
    padding: 10px 20px 10px 20px;
    margin-left: 2em;
    border-radius: 13px;

}
