body {
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

[type="radio"] + div {
    user-select: none;
        -webkit-user-select: none; /* Webkit */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* IE 10  */
        -o-user-select: none;
    display: inline-block;
    padding: 20px;
    margin: 1px;
    width: 300px;
    background: #A0CFC0;
    border-radius: 7px;
}

span.roomdesc {
    display: inline-block;
    width: 90%;
    float: left;
}

span.online {
    display: inline-block;
    width: 10%;
    float: right;
    text-align: center;
}

.form-container {
    position: absolute;
    border: 5px solid #ababab;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    padding: 25px;
    width: 350px;
    height: 310px;
    margin-top: -185px;
    margin-left: -205px;
    /*text-align: center;*/
}

#room-container {
    height: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
}

form#send {
    background: #000;
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px);
}

form#send input {
    border: 0;
    margin: 3px;
    padding: 10px;
    width: calc(100% - 39px);
}

form#send button {
    width: 30px;
    background: rgb(130, 224, 255);
    border: none;
    height: 34px;
    margin-right: 3px;
}

#messages {
    list-style-type: none;
    position: absolute;
    top: 50px;
    float: left;
    margin: 0;
    padding: 0;
    height: calc(100% - 110px);
    width: calc(100% - 20px);
    overflow-y: scroll;
}

#messages li {
    padding: 5px 10px;
    word-wrap: break-word;
}

#messages li.alert {
    color: red
}

h1 {
    padding-left: 10px;
    display: inline-block;
    position: relative;
    margin: 5px;
    width: calc(100% - 160px);
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#greeting {
    float: left;
}

.header {
    background: #A0CFC0;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
}

.logout {
    float: right;
    display: inline-block;
    background: #D2D2D2;
    width: 130px;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    border-radius: 13px;
}
